<div class="row">
  <div class="span7">
    <% if @repos.render_user_orgs %>
      <ul class="nav nav-pills">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="<%= @repos.org_context.image_url %>" width="30" height="30" />
            <%= @repos.org_context.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="<%= repositories_path %>">
                <img src="<%= current_user.image_url %>" width="30" height="30" />
                <%= current_user.user_name %>
              </a>
            </li>
            <% @repos.orgs.each do | org | %>
              <li>
                <a href="<%= repositories_path( :org => org.name ) %>">
                  <img src="<%= org.image_url %>" width="30" height="30" />
                  <%= org.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% elsif @repos.building_user_orgs %>
      <div class="loader-container well">
        <%= image_tag "antiqua/loader.gif" , :width => "64" , :height => "20" %>
        <p><strong>Building Organization Permissions</strong> -- The page will reload shortly.</p>
      </div>
      <%= javascript_tag do %>
        setTimeout( function(){ window.location.reload(); } , 5000 );
      <% end %>
    <% else %>
      &nbsp;
    <% end %>
  </div>
  <div class="span5">
    <a id="toggle-poller" class="btn btn-large btn-info">
      <i class="icon-refresh icon-white"></i>
      Watch For Updates to Your Archives
    </a>
  </div>
</div>
<div class="row">
  <div id="local-repositories" class="span8">
    <h2>Your Archives</h2>
    <% if @repos.local.any? %>
      <% @repos.local.each do | local_repository | %>
        <h3 id="repo-<%= local_repository.github_id %>-header"><%= local_repository.github_name %></h3>
        <div id="repository-<%= local_repository.github_id %>-archives">
          <% if local_repository.archives.any? %>
            <table class="table table-striped table-bordered">
              <tr>
                <th>Created At</th>
                <th>State</th>
                <th>Action</th>
              </tr>
              <% local_repository.archives.each do | archive | %>
                <tr>
                  <td><%= archive[ "created_at" ] %></td>
                  <% if archive[ "state" ] == "finished" %>
                    <td class="archive-state-cell">
                        <span class="label label-success"><%= archive[ "pretty_state" ] %></span>
                    </td>
                    <td>
                      <a class="btn btn-success"
                         target="_blank"
                         href="/archives/<%= archive[ "id" ] %>/tar_ball">Download</a>
                    </td>
                  <% else %>
                    <td class="archive-state-cell">
                      <span class="label label-info"><%= archive[ "pretty_state" ] %></span>
                    </td>
                    <td>
                      <a class="btn disabled"
                         href="#">Working</a>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table> <!-- table.table.table-striped.table-bordered -->
          <% else %>
            <div class="alert alert-warning">
              This repository does not yet have any archives!
            </div> <!-- div.alert.alert-info -->
          <% end %>
        </div> <!-- div#repository-<%= local_repository.github_id %>-archives -->
      <% end %>
    <% else %>
      <div id="no-archive-warning" class="alert alert-warning">
        You haven't yet created any archives. Remember, your first one is FREE. Just click "Archive" on any repository to the right and get things started!
      </div> <!-- div.alert.alert-info -->
    <% end %>
  </div> <!-- div.span8 -->
  <div class="span4">
    <h2>Private Repos</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <% if @repos.remote.any? %>
        <% @repos.remote.each do | remote_repository | %>
          <tr>
            <td>
              <a target="_blank" href="<%= remote_repository.html_url %>"><%= remote_repository.name %></a>
            </td>
            <td>
              <a class="btn <%= remote_repository.archive_btn_class %>"
                id="repo-<%= remote_repository.id %>-create-button"
                href="#"
                data-archive-url="/archives"
                data-repository-id="<%= remote_repository.id %>"
                data-repository-name="<%= remote_repository.name %>"
                <% if @repos.org_context_is_org %>
                  data-repository-org="<%= @repos.org_context.name %>"
                <% end %>
                data-repository-ssh-url="<%= remote_repository.ssh_url %>">Archive</a>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="2">
            <strong><%= @repos.org_context.name %> doesn't have any private repos!</strong>
          </td>
        </tr>
      <% end %>
    </table> <!-- table.table.table-striped.table-bordered -->
  </div> <!-- div.span4 -->
</div> <!-- div.row -->
<% content_for :page_javascript do %>
  <%= javascript_include_tag "repositories" %>
<% end %>
