<div class="row">
  <div class="span8">
    <h2>Your Archives</h2>
    <% @repos.each do | repo | %>
      <h3><%= repo.name %></h3>
      <div id="repository-<%= repo.id %>-archives">
        <% if repo.archives.any? %>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Created At</th>
              <th>State</th>
              <th>Action</th>
            </tr>
            <% repo.archives.each do | archive | %>
              <tr>
                <td><%= archive[ "created_at" ] %></td>
                <% if archive[ "state" ] == "finished" %>
                  <td>
                      <span class="label label-success"><%= archive[ "pretty_state" ] %></span>
                  </td>
                  <td>
                    <a class="btn btn-success"
                       id="repo-<%= repo.id %>"
                       target="_blank"
                       href="/archives/<%= archive[ "id" ] %>/tar_ball">Download</a>
                  </td>
                <% else %>
                  <td>
                    <span class="label label-info"><%= archive[ "pretty_state" ] %></span>
                  </td>
                  <td>
                    <a class="btn disabled"
                       id="repo-<%= repo.id %>"
                       href="#">Working</a>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table> <!-- table.table.table-striped.table-bordered -->
        <% else %>
          <div class="alert alert-warning">
            This repository does not yet have any archives!
          </div> <!-- div.alert.alert-info -->
        <% end %>
      </div> <!-- div#repository-<%= repo.id %>-archives -->
    <% end %>
  </div> <!-- div.span8 -->
  <div class="span4">
    <h2>Private Repos</h2>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <% @repos.each do | repo | %>
        <tr>
          <td>
            <a target="_blank" href="<%= repo.html_url %>"><%= repo.name %></a>
          </td>
          <td>
            <a class="btn btn-primary"
              id="repo-<%= repo.id %>-create-button"
              href="#"
              data-archive-url="/archives"
              data-repository-id="<%= repo.id %>"
              data-repository-name="<%= repo.name %>"
              data-repository-ssh-url="<%= repo.ssh_url %>">Archive</a>
          </td>
        </tr>
      <% end %>
    </table> <!-- table.table.table-striped.table-bordered -->
  </div> <!-- div.span4 -->
</div> <!-- div.row -->
<% content_for :page_javascript do %>
  <%= javascript_include_tag "repositories" %>
<% end %>
