<h2>Your Private Repositories</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <% @repos.each do | repo | %>
    <tr>
      <td>
        <a target="_blank" href="<%= repo.html_url %>"><%= repo.name %></a>
      </td>
      <td class="repo-table-description-cell">
        <%= repo.description %>
      </td> <!-- td.repo-table-description-cell -->
      <td>
        <span class="label label-warning">Not Archived!</span>
      </td>
      <td>
        <a class="btn btn-primary"
          id="repo-<%= repo.id %>"
          href="#"
          data-archive-url="/archives"
          data-repository-id="<%= repo.id %>"
          data-repository-name="<%= repo.name %>"
          data-repository-ssh-url="<%= repo.ssh_url %>">Archive</a>
      </td>
    </tr>
  <% end %>
</table>
<% content_for :page_javascript do %>
  <%= javascript_tag do %>
    $( 'a[ id ^= "repo-" ]' ).click( function( e ){
      var success_callback = function( response ){ console.log( response ); }
        , target = $( e.target );

      $.ajax( {
        data: {
          github_repository_id:      target.data( 'repository-id' )
        , github_repository_name:    target.data( 'repository-name' )
        , github_repository_ssh_url: target.data( 'repository-ssh-url' )
        }
      , success: success_callback
      , type: "POST"
      , url: target.data( 'archive-url' )
      } );
    } );
  <% end %>
<% end %>
