<h1>Users</h1>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Auth Token</th>
    <th>Image URL</th>
    <th>Is Admin</th>
    <th>UID</th>
    <th>User Name</th>
    <th>Repositories</th>
    <th>Archives</th>
    <th>Created At</th>
  </tr>
  <% unless @users.empty? %>
    <% @users.each do | user | %>
      <tr>
        <td><%= user.id.to_s %></td>
        <td><textarea rows="1" style="width: 50px;"><%= user.auth_token %></textarea></td>
        <td><a href="<%= user.image_url %>" target="_blank"><img src="<%= user.image_url %>" width="30" height="30" /></a></td>
        <td><%= user.is_admin %></td>
        <td><%= user.uid %></td>
        <td><%= user.user_name %></td>
        <td><%= user.repositories.count %></td>
        <td><%= user.archives.count %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  <% else %>
    <td colspan="9">There are currently no users!</td>
  <% end %>
</table>
<%= paginate @users %>
