<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /META -->

    <!-- MISC -->
    <title>Antiqua -- Archiving Your Unused Repos</title>
    <link type="text/plain" rel="author" href="/humans.txt" />
    <!-- /MISC -->

    <!-- CSS -->
    <%= stylesheet_link_tag "application" %>
    <!-- /CSS -->

    <!-- JS -->
    <%= javascript_include_tag "modernizr/2.0.6" %>
    <!-- /JS -->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li>
              <a class="brand" href="/">Antiqua</a>
            </li>
          </ul> <!-- ul.nav -->
          <ul class="nav pull-right">
            <% if current_user? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="<%= current_user.image_url %>" width="30" height="30" />
                  <%= current_user.user_name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/repositories">Home</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/auth/logout">Logout</a>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <a href="/auth/github">Sign In</a>
              </li>
            <% end %>
          </ul> <!-- ul.nav.pull-right -->
        </div> <!-- div.container -->
      </div> <!-- div.navbar-inner -->
    </div> <!-- div.navbar.navbar-fixed-top -->

    <div class="container main">
      <%= render "shared/alert" if CONFIG.has_global_alert == "true" %>
      <%= yield %>
    </div> <!-- div.container.main -->

    <footer class="footer">
      <div class="container">
        <p id="footer-copyright" class="pull-right">
          &copy; 2011 - <%= Time.now.year %> Antiqua, Inc.
        </p>
        <p>
          Built with a <a href="/humans.txt" target="_blank">motherload of wonderful OSS</a>. Run with love by <a href="http://www.ruby-lang.org/en/" target="_blank">MRI 1.9.3p125 (CRuby)</a>. Hosted at the speed of light on <a href="http://aws.amazon.com/ec2/" target="_blank">EC2</a>.
        </p>
      </div> <!-- div.container -->
    </footer> <!-- footer.footer -->

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <%= javascript_tag do %>
      window.jQuery || document.write('<script src="/assets/jquery/1.7.1.js"><\/script>');
      $.ajaxSetup( {
        headers: {
          'X-CSRF-TOKEN': '<%= form_authenticity_token.to_s %>'
        }
      } );
    <% end %>

    <%= javascript_include_tag "application" %>

    <%= yield :page_javascript %>

    <%= render "shared/google_analytics" if CONFIG.use_google_analytics == "true" %>

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    <!-- /JS -->
  </body>
</html>

